@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-regular-webfont.woff') format('woff2');
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

body {
    background: url(images/bg-image.png) no-repeat center center fixed;
    font-family: 'Montserrat',-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Helvetica,Arial,sans-serif;
    line-height: normal;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    font-size: 14px;
}
.wrapper {
    height: calc(100% - 62px);
}
.container {
    height: 100%;
    position: relative;
    z-index: 1;
    top: 62px;
}
.results {
    text-align: center;
}
.results #empty h1 {
    color: #ffffff;
    font-size: 29px;
    font-weight: normal;
}
.hidden {
    display: none;
}
.first-page {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 30px;
    height: 100%;
}
.first-page h1 {
    font-size: 29px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 60px;
    letter-spacing: 1px;
    font-weight: 300;
}
.button {
    padding: 13px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Montserrat',-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Helvetica,Arial,sans-serif;
    background: -moz-linear-gradient(top, #5269ff 0%, #8899ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5269ff 0%,#8899ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #5269ff 0%,#8899ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5269ff', endColorstr='#8899ff',GradientType=0 ); /* IE6-9 */
}

/*******header styles*****/
.header {
    background: #192038;
    padding: 18px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.left, .right {
    display: flex;
    align-items: center;
}
.left {
    flex-grow: 1;
}
.logo {
    background: url(images/menu.svg) 0 0/contain no-repeat;
    width: 15px;
    height: 13px;
}
.company {
    color: #fff;
    margin-left: 10px;
    display: inline-block;
    font-weight: 600;
}
.user {
    background: url(images/user.png) 0 0/contain no-repeat;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.pinned {
    background: url(images/notification.png) 0 0/contain no-repeat;
    width: 17px;
    height: 21px;
    margin-left: 25px;
    cursor: pointer;
}
.mailbox {
    background: url(images/message.png) 0 0/contain no-repeat;
    width: 20px;
    height: 13px;
    margin-left: 25px;
    cursor: pointer;
}

/*****input styles *****/
.slider {
    transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    background: #13192b;
    width: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 62px;
    bottom: 0;
}
.slider-show {
    right: 0;
    width: 348px;
    padding: 20px 30px 0;
    box-shadow: 1px 0 13px 0 rgba(0, 0, 0, 0.59);
    overflow-y: auto;
    z-index: 10;
}
.close-slider {
    display: block;
    text-align: right;
}
.close-button {
    background: url(images/close.svg) 0 0/contain no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.label {
    color: #575c72;
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.input-wrapper {
    position: relative;
}
input {
    font-size: 16px;
    padding: 15px 40px 15px 20px;
    color: #ffffff;
    background: #222842;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    border-radius: 3px;
    font-family: 'Montserrat',-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Helvetica,Arial,sans-serif;
}
.per-annum {
    position: absolute;
    top: 15px;
    right: 7px;
    color: #3a456a;
}
.field {
    margin-bottom: 25px;
}
.input:disabled {
    background: #0a0e19;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.button-block .button{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.investment-error {
    border: 1px solid #ff0000;
}
.error input {
    border: 1px solid #ff0000;
}
.error-div {
    display: none;
}
.error .error-div {
    display: block;
    color: #ff0000;
    padding: 4px 0 0;
    font-size: 12px;
}

/*********Details Card*********/
.employee-page {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    min-height: 100%;
}
.employeeDetails {
    display: none;
    padding: 30px;
    min-height: 100%;
}
.add-employee {
    text-align: right;
    margin-bottom: 30px;
}
.employee-card {
    background: url(images/emp3.png) 0 0/contain no-repeat;
    width: 200px;
    height: 250px;
    position: relative;
    font-size: 12px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}
.details-div {
    position: absolute;
    left: 8px;
    right: 9px;
    bottom: 0;
    background: #192038;
    border-radius: 0 0 4px 4px;
}
.employee-name {
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
    padding: 10px 15px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.employee-designation {
    color: #575c72;
    padding: 0 15px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.employee-taxable-income,
.employee-tax-payable,
.taxable-income-text,
.tax-payable-text{
    display: none;
    color: #fff;
}
.taxable-income-text,
.tax-payable-text {

    text-transform: uppercase;
    margin-top: 5px;
}
.taxable-income-div {
    border-right: 2px solid rgba(256,256,256, 0.28);
}
.tax-div {
    max-height: 0;
    font-size: 0;
}
.tax-payable-text,
.taxable-income-text {
    font-size: 0;
}
.edit {
    background: url(images/edit.png) 0 0/contain no-repeat;
    width: 16px;
    height: 16px;
    display: none;
}

.employee-card:hover .details-div {
    transition: all .3s ease-out;
    background: #fa629c; /* Old browsers */
    background: -moz-linear-gradient(left, #fa629c 0%, #fc855f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fa629c 0%,#fc855f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fa629c 0%,#fc855f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa629c', endColorstr='#fc855f',GradientType=0 ); /* IE6-9 */
}
.employee-card:hover .employee-designation {
    color: #ffdbdb;
}
.employee-card:hover .edit {
    display: block;
    cursor: pointer;
}
.employee-card:hover .taxable-income-div,
.employee-card:hover .tax-payable-div{
    display: inline-block;
    width: 50%;
    padding: 8px;
    text-align: center;
}
.employee-card:hover .employee-taxable-income,
.employee-card:hover .employee-tax-payable {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}
.employee-card:hover .taxable-income-text,
.employee-card:hover .tax-payable-text {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 8px;
}
.employee-card:hover .tax-div {
    background: rgba(255,206,204, 0.24);
    transition: max-height 0.3s ease;
    max-height: 150px;
    font-size: 12px;
}
.employee-card:hover .name-designation-edit-div {
    display: flex;
    align-items: center;
}
.employee-card:hover .name-designation-div {
    display: inline-block;
    width: calc(100% - 30px);
}